#schedules {

	@include media( '<=850px' ) {
		margin-top: 30px;
	}

	.schedules {

		.single-schedule {
			display: flex;
			margin: 10px 0;

			&.header {
				font-weight: 500;

				&:hover {
					background: transparent;
				}

				.column {
					overflow: hidden;
				}

			}

			.column {
				padding: 2px;

				&.label {
					flex-grow: 100;
				}

				&.slug {
					width: 30%;
				}

				&.interval {
					width: 15%;
				}

				&.actions {
					width: 15%;
					text-align: right;

					.dashicons {

						&.dashicons-trash {
							color: #a00;

							&:hover {
								color: red;
							}

							&.disabled,
							&.disabled:hover {
								color: #ccc;
							}

						}

						span {
							display: none;
						}

					}

				}

			}

		}

	}

	.page-title-action {
		top: 15px;
		margin-left: 0;
	}

}
